@font-face {
    font-family: lovelo;
    src: url(/fuentes/Lovelo-LineBold.woff);
  }

* {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina padding predeterminado */
    box-sizing: border-box; /* Incluye bordes y padding en el cálculo del ancho y alto de los elementos */
}

body{
    background-color: rgb(25, 24, 24);
}

.imagen-cinelandia{
font-family: lovelo;
background: linear-gradient(to right, #C38315, #FF0000);
width: 100%;
}

.imagen-cinelandia p{
    font-size: 200%;
color: white;
text-align: center;
}
h2{
    font-family: lovelo;
}


@media (min-width: 800px){


}



footer{
    width: 100%;
    background: linear-gradient(to right, #C38315, #FF0000); 
    text-align: center;
    margin-top: 4vh;

}


footer a img {
    width: 6vh;
    
    
}


