/* Estilos generales */
.banner-gladiador {
  width: 100%;
}

ul {
  list-style: none; /* Quitamos los puntos de la lista */
  display: grid; /* Usamos un diseño de cuadrícula */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Distribuye columnas adaptativas con un mínimo de 200px */
  gap: 10vh; /* Espaciado entre los elementos de la cuadrícula */
  padding: 30px; /* Espaciado interno del contenedor */
}

.lista {
  padding: 15px; /* Espaciado interno */
}

/* Ajustar la sombra y bordes redondeados del póster */
.poster {
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 20px; /* Opcional: para bordes redondeados */
  transition: transform 0.10s ease; /* Transición suave */
  cursor: pointer;
}

/* Efecto al pasar el cursor sobre el póster */
.poster:hover {
  transform: scale(1.1); /* Aumenta el tamaño a 110% */
}

.title, .overview, .languaje, .adult, .date { 
  display: none;
}
