@import url("global.css") ;

.contenedor {
    display: flex;
    background-color: #FFA200;
    width: 80%;
    box-shadow: 5px 5px 10px #FFA200 ;
}

h2{
    color: #FFA200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;    

}
